<header class="sticky contain-to-grid global">
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name"><h1><a href="http://contexthub.com/"><div class="logomark"></div><span class="logo-context">CONTEXT</span> <span class="logo-hub">HUB</span></a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="http://contexthub.com/"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="right dark">
        <li class="has-dropdown">
        <a href="#">Documentation</a>
        <ul class="dropdown">
          <li><a href="https://github.com/contexthub/contexthub-ios-framework" target="_blank">IOS SDK</a></li>
          <li><a href="http://docs.contexthub.com/contexthub-ios-framework/" target="_blank">IOS Reference</a></li>
          <li><a href="http://docs.contexthub.com/contexthub-api" target="_blank">API Reference</a></li>
        </ul>
        </li>
      </ul>
    </section>
  </nav>
</header>