<li class="heading"><h4>DOCUMENTATION</h4></li>
<li><a href="/">Overview</a></li>
<li><a href="/getting-started">Getting Started</a></li>
<li><a href="/element-services">Element Services</a></li>
<li><a href="/event-services">Event Services</a></li>
<li><a href="/contextual-engine">Contextual Engine</a></li>
<li><a href="/application-services">Application Services</a></li>
<li class="heading"><h4>SAMPLES</h4></li>
<li><a href="/hello-contexthub">Hello ContextHub</a></li>
<!--<li><a href="/awareness">Awareness (Contexts)</a></li>-->
<li><a href="/detect-me">Detect Me (Beacons)</a></li>
<li><a href="/geofences">Geofences (Geofences)</a></li>
<!--<li><a href="/notifyme">Notify Me (Push)</a></li>-->
<li><a href="/storage">Storage (Vault)</a></li>
<li class="heading"><h4>DEMOS</h4></li>
<li><a href="/wayfinder">WayFinder (Beacons)</a></li>